In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.io as pio

pio.renderers.default = "browser"

In [2]:
# Load the data

user_rsc = pd.read_csv(f'datasets/user_component_randm.csv')
total_inst = pd.read_csv(f'datasets/total_instances.csv')
strg = pd.read_csv(f'datasets/strg_price.csv')
cpu_ram = pd.read_csv(f'datasets/cpu_ram_price.csv')
total_inst

,Unnamed: 0,users,iaas instances,storage_iaas,caas instances,storage_caas,Disk_type
0,0,872,3.0,1005.5,3,965,SSD
1,1,927,3.0,1005.5,3,965,SSD
2,2,897,3.0,1005.5,3,965,HDD
3,3,363,3.0,1005.5,3,965,SSD
4,4,921,3.0,1005.5,3,965,HDD
...,...,...,...,...,...,...,...
395,395,66590,82.0,21735.5,82,19500,SSD
396,396,59832,72.0,18899.5,72,16905,HDD
397,397,65624,81.0,21447.5,81,19245,HDD
398,398,19303,24.0,6509.5,24,5865,SSD
399,399,23006,29.0,7776.5,29,6995,SSD

In [3]:
# Rename dataframes' column
strg = strg.rename(columns={'Unnamed: 0': 'Label'})
cpu_ram = cpu_ram.rename(columns={'Unnamed: 0': 'Label'})
user_rsc = user_rsc.rename(columns={'size': 'Label'})
user_rsc = user_rsc.drop(columns='Unnamed: 0')
total_inst = total_inst.drop(columns='Unnamed: 0')

strg

,Label,Storage_min,Storage_max,Disk_type,Mean_price,Median_price,Standard_deviation
0,low-speed,100,500,['HDD'],0.017612,0.01590,0.013685
1,high-speed,100,500,['SSD'],0.046262,0.01388,0.065205
2,low-capacity,800,1000,['HDD' 'SSD'],0.147184,0.03125,0.183875
3,high-capacity,2000,2000,['HDD' 'SSD'],0.327060,0.06380,0.308295

In [4]:
total_inst['iaas_cpu_ram'] = total_inst['iaas instances'] * cpu_ram['Mean_price'][1]
total_inst['caas_cpu_ram'] = total_inst['caas instances'] * cpu_ram['Mean_price'][0]

total_inst

,users,iaas instances,storage_iaas,caas instances,storage_caas,Disk_type,iaas_cpu_ram,caas_cpu_ram
0,872,3.0,1005.5,3,965,SSD,2.776299,0.754855
1,927,3.0,1005.5,3,965,SSD,2.776299,0.754855
2,897,3.0,1005.5,3,965,HDD,2.776299,0.754855
3,363,3.0,1005.5,3,965,SSD,2.776299,0.754855
4,921,3.0,1005.5,3,965,HDD,2.776299,0.754855
...,...,...,...,...,...,...,...,...
395,66590,82.0,21735.5,82,19500,SSD,75.885499,20.632696
396,59832,72.0,18899.5,72,16905,HDD,66.631170,18.116514
397,65624,81.0,21447.5,81,19245,HDD,74.960066,20.381078
398,19303,24.0,6509.5,24,5865,SSD,22.210390,6.038838
399,23006,29.0,7776.5,29,6995,SSD,26.837555,7.296929

In [5]:
total_inst = total_inst.sort_values(by='users')
fig = px.line(total_inst, x='users', y=['iaas_cpu_ram', 'caas_cpu_ram'], title='CPU & RAM cost',
             labels={
                     "value": "Price per Hour"})
              
fig.show()