In [1]:
import numpy as np
import pandas as pd

In [23]:
# Load the data

user_rsc = pd.read_csv(f'datasets/user_rsc_randm.csv')

strg = pd.read_csv(f'datasets/strg_price.csv')
cpu_ram = pd.read_csv(f'datasets/cpu_ram_price.csv')
cpu_ram

,Unnamed: 0,CPU_min,CPU_max,RAM_min,RAM_max,Mean_price,Median_price,Standard_deviation
0,xsmall,2,8,4,32,0.251618,0.16100,0.327861
1,small,8,20,16,64,0.925433,0.83900,0.460583
2,medium,16,32,128,160,1.497154,1.31895,0.819176
3,large,32,32,32,64,1.754343,1.49960,0.853152

In [24]:
# Rename dataframes' column
strg = strg.rename(columns={'Unnamed: 0': 'Label'})
cpu_ram = cpu_ram.rename(columns={'Unnamed: 0': 'Label'})
user_rsc = user_rsc.rename(columns={'size': 'Label'})
user_rsc = user_rsc.drop(columns='Unnamed: 0')
user_rsc

         users   Label  vms/inst     RAM     CPU  STORAGE technology
0       226645  xsmall     445.0  5278.0  3558.0  71348.5       iaas
1       226645   small     178.0  5278.0  3558.0  71348.5       iaas
2       226645  medium     112.0  5278.0  3558.0  71348.5       iaas
3       226645   large      56.0  5278.0  3558.0  71348.5       iaas
4         8169  xsmall      18.0   227.0   139.0   3124.0       iaas
...        ...     ...       ...     ...     ...      ...        ...
799995  152553   large      25.0  2160.0  1592.0  43055.0       caas
799996  118958  xsmall     155.0  1672.0  1240.0  33555.0       caas
799997  118958   small      62.0  1672.0  1240.0  33555.0       caas
799998  118958  medium      39.0  1672.0  1240.0  33555.0       caas
799999  118958   large      20.0  1672.0  1240.0  33555.0       caas

[800000 rows x 7 columns]

In [28]:
# for col in user_rsc['Label']:
#     if user_rsc['Label'] == 'xsmal':
user_rsc['Cost_CPU_RAM'] = user_rsc['vms/inst'] * cpu_ram['Mean_price']
user_rsc

,users,Label,vms/inst,RAM,CPU,STORAGE,technology,Cost_CPU_RAM
0,226645,xsmall,445.0,5278.0,3558.0,71348.5,iaas,111.970121
1,226645,small,178.0,5278.0,3558.0,71348.5,iaas,164.727059
2,226645,medium,112.0,5278.0,3558.0,71348.5,iaas,167.681197
3,226645,large,56.0,5278.0,3558.0,71348.5,iaas,98.243235
4,8169,xsmall,18.0,227.0,139.0,3124.0,iaas,NaN
...,...,...,...,...,...,...,...,...
799995,152553,large,25.0,2160.0,1592.0,43055.0,caas,NaN
799996,118958,xsmall,155.0,1672.0,1240.0,33555.0,caas,NaN
799997,118958,small,62.0,1672.0,1240.0,33555.0,caas,NaN
799998,118958,medium,39.0,1672.0,1240.0,33555.0,caas,NaN
799999,118958,large,20.0,1672.0,1240.0,33555.0,caas,NaN