In [1]:
# %%============== Import libraries =========
import numpy as np
import pandas as pd
import warnings
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.utils import stats
from scipy import stats
import my_functions as mf
import plotly.express as px
import my_functions as mf
import plotly.io as pio
import random
import vs_functions as vl

pio.renderers.default = "browser"
import plotly.graph_objects as go

In [2]:
# %%==============  Define the initial values  =========

users = random.sample(range(10, 300000), 2)
tot_users = list(np.array(users))


iaas_dict = dict()
caas_dict = dict()
i = {}
c = {}
appended_data = {}

In [3]:
# %%==============  Calculate the total resources per technology by users   =========
vm_types = ['xsmall', 'small', 'medium', 'large'] 
# users_size = zip(users, vm_types)
# users_size

In [4]:
for users in tot_users:
    for vm_type in vm_types:
    
        iaas_dict[users, vm_type] = vl.iaas.iaas_total(users, vm_type)
        caas_dict[users, vm_type] = vl.caas.caas_total(users, vm_type)
        # print ('i', iaas_dict, type(i))

print("iaas_dict", iaas_dict)
print("caas_dict", caas_dict)

iaas_dict {(58088, 'xsmall'): (115, 1359, 915, 18323.5), (58088, 'small'): (46, 1359, 915, 18323.5), (58088, 'medium'): (29, 1359, 915, 18323.5), (58088, 'large'): (15, 1359, 915, 18323.5), (175356, 'xsmall'): (345, 4095, 2759, 55258.5), (175356, 'small'): (138, 4095, 2759, 55258.5), (175356, 'medium'): (87, 4095, 2759, 55258.5), (175356, 'large'): (44, 4095, 2759, 55258.5)}
caas_dict {(58088, 'xsmall'): (76, 824, 608, 16395), (58088, 'small'): (31, 824, 608, 16395), (58088, 'medium'): (19, 824, 608, 16395), (58088, 'large'): (10, 824, 608, 16395), (175356, 'xsmall'): (229, 2480, 1832, 49440), (175356, 'small'): (92, 2480, 1832, 49440), (175356, 'medium'): (58, 2480, 1832, 49440), (175356, 'large'): (29, 2480, 1832, 49440)}

In [5]:
# Convert dictionary to dataframe
iaas = pd.DataFrame.from_dict(iaas_dict)
caas = pd.DataFrame.from_dict(caas_dict)

In [6]:
# Transpose the dataframe
iaas = iaas.transpose()
caas = caas.transpose()
iaas.head()

                   0       1       2        3
58088  xsmall  115.0  1359.0   915.0  18323.5
       small    46.0  1359.0   915.0  18323.5
       medium   29.0  1359.0   915.0  18323.5
       large    15.0  1359.0   915.0  18323.5
175356 xsmall  345.0  4095.0  2759.0  55258.5

In [7]:
caas.head()

                 0     1     2      3
58088  xsmall   76   824   608  16395
       small    31   824   608  16395
       medium   19   824   608  16395
       large    10   824   608  16395
175356 xsmall  229  2480  1832  49440

In [8]:
# Add a column for tech
iaas['technology'] = 'iaas'
caas['technology'] = 'caas'
iaas.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8 entries, (58088, 'xsmall') to (175356, 'large')
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   0           8 non-null      float64
 1   1           8 non-null      float64
 2   2           8 non-null      float64
 3   3           8 non-null      float64
 4   technology  8 non-null      object
dtypes: float64(4), object(1)
memory usage: 696.0+ bytes

In [9]:
caas.head()

                 0     1     2      3 technology
58088  xsmall   76   824   608  16395       caas
       small    31   824   608  16395       caas
       medium   19   824   608  16395       caas
       large    10   824   608  16395       caas
175356 xsmall  229  2480  1832  49440       caas

In [10]:
vl.iaas.iaas_total(4000,'xsmall')

(10, 130, 74, 1869.5)

In [11]:
# Make index to column
iaas.reset_index(inplace=True)
caas.reset_index(inplace=True)
iaas

   level_0 level_1      0       1       2        3 technology
0    58088  xsmall  115.0  1359.0   915.0  18323.5       iaas
1    58088   small   46.0  1359.0   915.0  18323.5       iaas
2    58088  medium   29.0  1359.0   915.0  18323.5       iaas
3    58088   large   15.0  1359.0   915.0  18323.5       iaas
4   175356  xsmall  345.0  4095.0  2759.0  55258.5       iaas
5   175356   small  138.0  4095.0  2759.0  55258.5       iaas
6   175356  medium   87.0  4095.0  2759.0  55258.5       iaas
7   175356   large   44.0  4095.0  2759.0  55258.5       iaas

In [12]:
iaas.head()

   level_0 level_1      0       1       2        3 technology
0    58088  xsmall  115.0  1359.0   915.0  18323.5       iaas
1    58088   small   46.0  1359.0   915.0  18323.5       iaas
2    58088  medium   29.0  1359.0   915.0  18323.5       iaas
3    58088   large   15.0  1359.0   915.0  18323.5       iaas
4   175356  xsmall  345.0  4095.0  2759.0  55258.5       iaas

In [13]:
# Rename the columns
iaas.columns = ['users', 'size', 'vms/inst',  'RAM', 'CPU', 'STORAGE', 'technology']
caas.columns = ['users', 'size', 'vms/inst', 'RAM', 'CPU', 'STORAGE', 'technology']
iaas

    users    size  vms/inst     RAM     CPU  STORAGE technology
0   58088  xsmall     115.0  1359.0   915.0  18323.5       iaas
1   58088   small      46.0  1359.0   915.0  18323.5       iaas
2   58088  medium      29.0  1359.0   915.0  18323.5       iaas
3   58088   large      15.0  1359.0   915.0  18323.5       iaas
4  175356  xsmall     345.0  4095.0  2759.0  55258.5       iaas
5  175356   small     138.0  4095.0  2759.0  55258.5       iaas
6  175356  medium      87.0  4095.0  2759.0  55258.5       iaas
7  175356   large      44.0  4095.0  2759.0  55258.5       iaas

In [14]:
# Concatenate the dataframes
frames = [iaas, caas]
df = pd.concat(frames, ignore_index=True)
df.head()
df.to_csv(f'datasets/user_rsc_randm.csv')

In [17]:
# %% ================ Visualization ========================
#
# Grouped figured with averaged value
fig = px.histogram(df, x="technology", y=['RAM', 'CPU', 'STORAGE'], facet_col='technology' ,log_y=True,
                   barmode='group', text_auto=True, histfunc='avg')
fig.show()

fig = px.histogram(df, x="technology", y='vms/inst', facet_col='size' ,log_y=True,
                   barmode='group', text_auto=True, color='technology')
fig.show()

# fig.write_html("resources_compare.html")
# %%
fig2 = px.scatter(df, x="users", y=['RAM', 'CPU', 'STORAGE'], facet_col='size', log_y=True)
fig2.show()
# fig2.write_html("users_resources.html")