In [1]:
# %%============== Import libraries =========
import numpy as np
import pandas as pd
import warnings
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.utils import stats
from scipy import stats
import my_functions as mf
import plotly.express as px
import my_functions as mf
import plotly.io as pio
import random
import vs_functions as vl

pio.renderers.default = "browser"
import plotly.graph_objects as go

In [2]:
# %%==============  Define the initial values  =========

users = random.sample(range(10, 300000), 6)
tot_users = list(np.array(users))


iaas_dict = {}
caas_dict = {}
i = []
c = []
appended_data = []

In [3]:
# %%==============  Calculate the total resources per technology by users   =========
vm_types = ['xsmall', 'small', 'medium', 'large'] 
# users_size = zip(users, vm_types)
# users_size

In [19]:
for vm_type in vm_types:
    for users in tot_users:
    # iaas_dict = dict([ (users, vl.caas.caas_total(users, vm_type)) for vm_type in vm_types])
    # i = vl.iaas.iaas_total(users, vm_type)
    # print ('i', i)
    # iaas_dict[users] = i
        i = vl.iaas.iaas_total(users, vm_type)
        c = vl.caas.caas_total(users, vm_type)
        print ('i',i)
    iaas_dict[users] = i
    caas_dict[users] = c

    # print(iaas_dict)
    # print(appended_data)


print("iaas_dict", iaas_dict)
print("caas_dict", caas_dict)

i (28, 'xsmall', 2621, 1765, 35392.5)
i (28, 'small', 2621, 1765, 35392.5)
i (56, 'medium', 2621, 1765, 35392.5)
i (28, 'large', 2621, 1765, 35392.5)
i (5, 'xsmall', 439, 283, 5933.5)
i (5, 'small', 439, 283, 5933.5)
i (9, 'medium', 439, 283, 5933.5)
i (5, 'large', 439, 283, 5933.5)
i (52, 'xsmall', 4872, 3284, 66017.5)
i (52, 'small', 4872, 3284, 66017.5)
i (103, 'medium', 4872, 3284, 66017.5)
i (52, 'large', 4872, 3284, 66017.5)
i (12, 'xsmall', 1050, 706, 14259.5)
i (12, 'small', 1050, 706, 14259.5)
i (23, 'medium', 1050, 706, 14259.5)
i (12, 'large', 1050, 706, 14259.5)
i (44, 'xsmall', 4131, 2787, 55834.5)
i (44, 'small', 4131, 2787, 55834.5)
i (88, 'medium', 4131, 2787, 55834.5)
i (44, 'large', 4131, 2787, 55834.5)
i (66, 'xsmall', 6195, 4171, 83765.0)
i (66, 'small', 6195, 4171, 83765.0)
i (131, 'medium', 6195, 4171, 83765.0)
i (66, 'large', 6195, 4171, 83765.0)
iaas_dict {265430: (66, 'large', 6195, 4171, 83765.0), 112501: (28, 'large', 2621, 1765, 35392.5), 16773: (5, 'large', 439, 283, 5933.5), 209843: (52, 'large', 4872, 3284, 66017.5), 44037: (12, 'large', 1050, 706, 14259.5), 177961: (44, 'large', 4131, 2787, 55834.5)}
caas_dict {265430: (44, 'large', 3752, 2768, 74970), 112501: (19, 'large', 1592, 1176, 31670), 16773: (3, 'large', 280, 192, 5355), 209843: (34, 'large', 2944, 2176, 59085), 44037: (8, 'large', 640, 472, 12770), 177961: (29, 'large', 2496, 1848, 49950)}

In [5]:
# Convert dictionary to dataframe
iaas = pd.DataFrame.from_dict(i)
caas = pd.DataFrame.from_dict(c)

In [6]:
# Transpose the dataframe
iaas = iaas.transpose()
caas = caas.transpose()
iaas.head()

    0      1     2     3        4
0  66  large  6195  4171  83765.0

In [7]:
caas.head()

    0      1     2     3      4
0  44  large  3752  2768  74970

In [8]:
# Add a column for tech
iaas['technology'] = 'iaas'
caas['technology'] = 'caas'
iaas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   0           1 non-null      object
 1   1           1 non-null      object
 2   2           1 non-null      object
 3   3           1 non-null      object
 4   4           1 non-null      object
 5   technology  1 non-null      object
dtypes: object(6)
memory usage: 176.0+ bytes

In [9]:
caas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   0           1 non-null      object
 1   1           1 non-null      object
 2   2           1 non-null      object
 3   3           1 non-null      object
 4   4           1 non-null      object
 5   technology  1 non-null      object
dtypes: object(6)
memory usage: 176.0+ bytes

In [10]:
# Make index to column
iaas.reset_index(inplace=True)
caas.reset_index(inplace=True)

In [11]:
iaas.head()

   index   0      1     2     3        4 technology
0      0  66  large  6195  4171  83765.0       iaas

In [12]:
# Rename the columns
iaas.columns = ['users', 'vms/inst', 'size', 'RAM', 'CPU', 'STORAGE', 'technology']
caas.columns = ['users', 'vms/inst', 'size', 'RAM', 'CPU', 'STORAGE', 'technology']
iaas.head()

   users vms/inst   size   RAM   CPU  STORAGE technology
0      0       66  large  6195  4171  83765.0       iaas

In [13]:
# Concatenate the dataframes
frames = [iaas, caas]
df = pd.concat(frames, ignore_index=True)
df.head()
df.to_csv(f'datasets/user_rsc_randm.csv')

In [14]:
# %% ================ Visualization ========================
#
# Grouped figured with averaged value
fig = px.histogram(df, x="technology", y=['RAM', 'CPU', 'STORAGE'], log_y=True,
                   barmode='group', text_auto=True, histfunc='avg')
fig.show()
fig.write_html("resources_compare.html")
# %%
fig2 = px.scatter(df, x="users", y=['RAM', 'CPU', 'STORAGE'], facet_col='technology', log_y=True)
fig2.show()
fig2.write_html("users_resources.html")